<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be the CEO</title>
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner">
        <header>
            <div class="navbar">
                <img src="../static/images/BTC.png" class="logo">
                <ul>
                    <li><a href="{{ url_for('signup') }}">
                    <img src="../static/images/signup.png" alt="Login" title="Sign Up">
                    </a></li>
                    <legend><a href="{{ url_for('login') }}">
                    <img src="../static/images/login.png" alt="Login" title="Login">
                    </a></legend>
                </ul>
            </div>
            <div class="head">
                <h1>BE-THE-CEO</h1>
            </div>
        </header>
        <div class="body">
            <h1>But... don't you want to be the CEO?</h1><br>
            <p>~This company DESPERATELY needs a CEO~</p>
            <p>We are looking for a dynamic and articulate CEO that's NOT A <span class="highlight">HACKER!</span></p>
            <div class="japanese">
                <p>~これは旗ではありません~</p>
            </div>
        </div>
    </div>
</body>
</html>
