<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/forbidden.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli:wght@400;700&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli:wght@400;700&display=swap" rel="stylesheet">
    <title>Forbidden</title>
</head>
<body>
    <div class="t">
        <h1>FORBIDDEN</h1>
    </div>
    <img src="../static/images/BTC.png" class="logo" alt="Logo">
    <div class="s">
        <h2>YOU can't choose GOLD TIER, only CEO can do that!</h2>
    </div>
    <div class="home2">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home" class="home-icon" title="Back To Home">
        </a>
    </div>
</body>
</html>
