<!DOCTYPE html>
<html lang="en">
    <head>
        <div class="headings">
            <h2> LOGIN FAILED</h2>
        </div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/login_failed.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <img src="../static/images/BTC.png" class="logo" alt="Logo">
        <div class="bodie">
            <p> user credentials are not correct or the login doesnt simply exist</p>
        </div>
        <div class="tables">
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Password:</strong> {{ password }}</p>
        </div>
        <div class="home2">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home" class="home-icon" title="Back To Home">
            </a>
        </div>
    </body>
</html>