<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be the CEO Login</title>
    <img src="../static/images/BTC.png" class="logo">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <form action="/login" method="post">
            <div class='login'>
                <h1>Login Page</h1>
            </div>
            <div class="inputs">
                <div class="uandp">
                    <p>USERNAME</p>
                    <input type="text" name="name" placeholder="Username" required><br>
                    <p>PASSWORD</p>
                    <input type="password" name="password" placeholder="Password" required><br>
                </div>
            </div>
            <div class="button1">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="home2">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home" class="home-icon" title="Back To Home">
            </a>
        </div>
    </div>
</body>
</html>
